/* Header */

header {
    padding: 30px 0;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    flex: 1;
    max-width: 170px;
}


.header-content nav {
    flex: 3;
    text-align: center;
}

.header-content .login {
    flex: 1;
    text-align: right;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li,
.header-content ul li a {
    color: var(--subColor);
}

.header-content nav ul li .link-item {
    padding: 10px 24px;
    display: block;
    font-weight: bold;
    position: relative;
}

.header-content nav ul li .link-item::before,
.header-content nav ul li .link-item::after {
    content: "";
    position: absolute;
    border-color: var(--mainColor);
    border-style: solid;
    top: 0;
    left: 0;
    transition: transform .2s;
}

.header-content nav ul li .link-item::before {
    border-width: 0 2px;
    width: 98%;
    height: 100%;
    transform: scale3d(1, 0, 1);
}

.header-content nav ul li .link-item:hover::before {
    transform: scale3d(1, 1, 1);
}

.header-content nav ul li .link-item::after {
    border-width: 2px 0;
    width: 100%;
    height: 91%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover::after {
    transition-delay: .2s;
    transform: scale3d(1, 1, 1);
}

.header-content .login ul li {
    padding: 10px;
    font-weight: bold;
}

.header-content .login ul li:last-child i {
    position: relative;
    margin-right: 12px;
}

.header-content .login ul li:last-child i::after {
    position: absolute;
    border-radius: 50%;
    content: "0";
    width: 10px;
    height: 10px;
    background-color: var(--mainColor);
    color: #fff;
    bottom: 0;
    right: -10px;
    padding: 4px;
    font-size: 13px;
}

/* Dropdown */

.dropdown,
.dropdown-item {
    position: relative;
}

.dropdown-menu,
.dropdown-menu-item {
    position: absolute;
    background: #fff;
    margin-top: 20px;
    border: 2px solid var(--mainColor);
    padding: 15px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform .5s, visibility .5s;
}

.dropdown-menu {
    width: 400px;
}

.dropdown-menu-item {
    width: 200px;
}

.dropdown:hover .dropdown-menu,
.dropdown-item:hover .dropdown-menu-item {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 1;
}


.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}

.dropdown-menu-item ul li {
    display: block;
    text-align: left;
}

.dropdown-menu ul li:first-child a {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--mainColor);
}

.dropdown-menu ul li,
.dropdown-menu-item ul li {
    line-height: 1.7;
}