/* products */

.products {
    /* text-align: center; */
}

.lisy-product {
    display: flex;
    justify-content: center;
}

.lisy-product li {
    margin: 10px 20px;
}

.lisy-product li a {
    color: #000;
}

.lisy-product li:hover a {
    color: var(--mainColor);
}

.product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-img {
    position: relative;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.4s;
}

.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-overlay ul li{
    transform: scale(0, 0);
}

.product-overlay ul li {
    width: 40px;
    height: 40px;
    background: #000;
    display: inline-block;
    text-align: center;
}


.product-overlay ul li i {
    color: #fff;
    line-height: 40px;
}

.product-item:hover .product-overlay {
    transform: scale(1, 1);
    transition: transform 0.7s;
}

.product-item:hover .product-overlay ul li {
    transform: scale(1, 1);
    transition:transform 1s;
}

.product-item i {
    color: rgba(247, 247, 6, 0.822);
}


.product-item i.active {
    color: gray;
}

.product-info {
    margin: 10px 0;
    line-height: 1.6;
}